@"
# CodeIgniter
application/logs/*
!application/logs/index.html
application/cache/*
!application/cache/index.html

# Dependencies
/vendor/
composer.lock

# Environment
.env

# Editor & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
"@ | Set-Content -Encoding UTF8 .gitignore